.sidenav {
  width: 200px;
  border-right: 10px, solid, black;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-sidenav {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.footer-text {
  font-size: 0.7rem;
}

footer .mat-toolbar-row {
  height: fit-content;
}

.footer-text a {
  color: inherit;
  text-decoration: none;
}

.limited-size img,
.limited-size source {
  width: 100%;
  height: auto;
}
