<mat-card class="container">
  <div mat-card-header>
    <mat-card-title class="no-margin">數學系系館位置</mat-card-title>
    <mat-card-subtitle class="no-margin">成功校區正中央</mat-card-subtitle>
  </div>

  <mat-card-content>
    <a target="_blank" href="https://goo.gl/maps/ehcMCRpGHyFBYpVB9">
      <picture class="auto-resize">
        <source type="image/webp" srcset="assets/location.webp" />
        <img src="assets/location.png" alt="the map capured from Google Maps" />
      </picture>
    </a>
    <p>
      成大數學系館位於成大成功校區的正中央，也就是成大新總圖書館的正對面。詳細的位置可參考圖片連結。數學系館這棟建築本來是成大的行政大樓，在行政大樓遷至光復校區的新大樓後，校方將此建築交給數學系使用。很湊巧地，每次數學系搬遷，使用的都是舊的行政大樓。
    </p>
    <p>
      數學系館為一地下一層地上四層的建築。地下室有視聽教室一間及其它數學系學會使用的空間。一樓有一邊是數學系的圖書室，另一邊有四間教室，主要供大學部上課所用。二樓有系辦公室，系主任辦公室，訪問學者辦公室，教師研究室，還有兩間教室和研討室供研究所上課使用。三樓除會議室外，其餘皆為教師的研究室。四樓則有部份的教師研究室，研究生的研究室，電腦教室。在空間的使用上堪稱充裕。
    </p>
  </mat-card-content>
</mat-card>
<mat-card class="container">
  <mat-card-title>交通方式</mat-card-title>
  <mat-card-content>
    成大校園地處台南市中心，交通方便。要到成大數學系，可以採取以下幾種方式：
    <ul>
      <li>
        搭乘火車，可以在台南站下車，從後站出來即面對大學路。沿著大學路直走，穿過勝利路後的左手邊即是成功校區。
      </li>
      <li>
        自行開車，可以在仁德交流道下高速公路。沿著往台南市的方向直走，進入台南市後就是東門路。繼續直走會和長榮路相交。在長榮路右轉，經過幾條街就會和大學路相交。在大學路口左轉後的右手邊即是成功校區。詳細的路徑可以參考網頁右邊的地圖。在大學路兩側都可以付費停車（停車費每小時
        20
        元）。如果是因為公務，也可以在大學路成功校區門口的警衛崗哨換證進入校園停車。
      </li>
      <li>
        搭乘飛機，可以從台南機場乘坐計程車到達成大校園。車資約在一百五十元到兩百元之間。
      </li>
    </ul>
  </mat-card-content>
</mat-card>
